# Ignore Windows system files
AppData/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
NTUSER.DAT*
ntuser.dat*
ntuser.ini
.gitconfig
.lesshst
_netrc

# Ignore other user directories
3D Objects/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
.vscode/